<input type="text" placeholder="Введите имя собаки" ng-model="DogName" />
<input type="text" placeholder="Введите номер лицензии или ВПКОС" ng-model="VpkosOrLicenceNumber" />
<input type="text" placeholder="Введите дату рождения собаки" ng-model="DateOfBirth " />
<input type="text" placeholder="Введите Id матери Вашей собаки" ng-model="MotherId" />
<input type="text" placeholder="Введите Id отца Вашей собаки" ng-model="FatherId" />
<button>Добавить</button>